<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [4]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [46]:
# You code here
print 'Male:  ', data[(data['Sex'] == 'M') & (data['Year'] == 1996)]['Age'].min()
# data.loc[(data.Year == 1996) & (data['Sex'] == 'M'), 'Age'].min()
print 'Female:', data[(data['Sex'] == 'F') & (data['Year'] == 1996)]['Age'].min()
# data.loc[(data.Year == 1996) & (data['Sex'] == 'F'), 'Age'].min()

Male:   14.0
Female: 12.0

In [89]:
(data[data.Year == 1996]
.groupby('Sex')
.agg('min')
.Age)

Sex
F    12.0
M    14.0
Name: Age, dtype: float64

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [41]:
# You code here
data_t2_all = data[(data['Year'] == 2000) & (data['Sex'] == 'M')]
data_t2_gymnasts = data_t2_all[data_t2_all['Sport'] == 'Gymnastics']

print 'Percentage:', round(float(len(data_t2_gymnasts))/len(data_t2_all), 3)*100

Percentage: 7.7

In [104]:
q = '(Year == 2000) & (Sex == "M")'
sportsmen_count = len(data.query(q)
                     .drop_duplicates(subset='Name'))
gymnasts_count = len(data.query(q)
                    .query('Sport == "Gymnastics"')
                    .drop_duplicates(subset='Name'))

print('%.1f' % (float(gymnasts_count) / sportsmen_count * 100))

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [48]:
# You code here
print 'Mean: ', round(data[(data['Year'] == 2000) & (data['Sport'] == 'Basketball') & (data['Sex'] == 'F')]['Height'].mean(), 1)
print 'Std:  ', round(data[(data['Year'] == 2000) & (data['Sport'] == 'Basketball') & (data['Sex'] == 'F')]['Height'].std(), 1)

Mean:  182.4
Std:   9.1

In [106]:
q = '(Year == 2000) & (Sex == "F") & (Sport == "Basketball")'
(data.query(q)
.describe().Height)

count    142.000000
mean     182.387324
std        9.139462
min      162.000000
25%      175.000000
50%      182.000000
75%      190.000000
max      213.000000
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [52]:
# You code here
data[data['Year'] == 2002].sort_values(by=['Weight'], ascending=False).head(1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99154,50171,Emmanuel Hostache,M,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN

In [108]:
max_weight_idx = (data[data.Year == 2002]
                 .Weight
                 .idxmax())

(data[data.Year == 2002]
.loc[max_weight_idx]
.Sport)

'Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [56]:
# You code here
data[data['Name'] == 'Pawe Abratkiewicz']['Year'].nunique()

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [116]:
# You code here
data[(data['Medal'] == 'Silver') & (data['Sport'] == 'Tennis') & (data['Team'] == 'Australia')].shape[0]

2

In [111]:
q = '(Year == 2000) & (Team == "Australia") & (Medal == "Silver") & (Sport == "Tennis")'
data.query(q).shape[0]

2

In [114]:
q = '(Year == 2000) & (Team == "Australia")'
(data.query(q)
.groupby(['Medal', 'Sport'])
.get_group(('Silver', 'Tennis'))
.shape[0])

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [66]:
# You code here
switz_won = len(data[(data['Team'] == 'Switzerland') & (data['Year'] == 2016) & (data['Medal'].notnull())])
serbi_won = len(data[(data['Team'] == 'Serbia') & (data['Year'] == 2016) & (data['Medal'].notnull())])
print switz_won, ' and ', serbi_won

11  and  54

In [117]:
(data[data.Year == 2016]
.dropna(subset=['Medal']) 
.groupby('Team') 
.size()
[['Switzerland', 'Serbia']])

Team
Switzerland    11
Serbia         54
dtype: int64

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [73]:
# You code here
print '[45-55]:', len(data[(data['Year'] == 2014) & (data['Age'] >= 45) & (data['Age'] <= 55)]['Age'])
print '[35-55]:', len(data[(data['Year'] == 2014) & (data['Age'] >= 35) & (data['Age'] <= 45)]['Age'])
print '[15-25):', len(data[(data['Year'] == 2014) & (data['Age'] >= 15) & (data['Age'] < 25)]['Age'])
print '[25-35):', len(data[(data['Year'] == 2014) & (data['Age'] >= 25) & (data['Age'] < 35)]['Age'])

[45-55]: 5
[35-55]: 266
[15-25): 2027
[25-35): 2594

In [118]:
participants_2014 = (data[data.Year == 2014]
                    .drop_duplicates(subset='Name'))

print('[15, 25): ', len(participants_2014.query('(Age >= 15) & (Age < 25)')))

print('[25, 35): ', len(participants_2014.query('(Age >= 25) & (Age < 35)')))

print('[35, 45): ', len(participants_2014.query('(Age >= 35) & (Age < 45)')))

print('[45, 55]: ', len(participants_2014.query('(Age >= 45) & (Age <= 55)')))

('[15, 25): ', 1193)
('[25, 35): ', 1396)
('[35, 45): ', 150)
('[45, 55]: ', 5)

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [83]:
# You code here 
# data[(data['City'] == 'Lake Placid')]
# data[(data['City'] == 'Sankt Moritz')]

In [119]:
(pd.crosstab(data.City, data.Season)
.loc[['Lake Placid', 'Sankt Moritz']])

Season        Summer  Winter
City
Lake Placid        0    2098
Sankt Moritz       0    1657

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [88]:
# You code here
uniq1995 = data[data['Year'] == 1995]['Sport'].nunique()
uniq2016 = data[data['Year'] == 2016]['Sport'].nunique()
print uniq1995, uniq2016

0 34